
<header class="jumbotron container-fluid">
  <h1>Super Rentals</h1>
</header>
<div class="container-fluid">

  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'about'}}About{{/link-to}}
  <br>
  {{#link-to 'index'}}Home{{/link-to}}
  <br>
  {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
</footer>
